# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo

# =====================
# Node / Frontend
# =====================
node_modules/

# =====================
# Environment & OS
# =====================
.env
.DS_Store
